<div class="error-page font-container">
  <strong><span class="error">ERROR</span><strong><br>
  <button class="error-button btn" onclick="goBack()">back</button>

  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</div>
