<div class="font-container text-center">
  <h1><a href="/bands/">bands</a> <span class="h1">☮</span> <a href="/venues/">venues</a></h1>
  <!-- <img class="image gir" src="https://media.giphy.com/media/WlYynO1SmX0go/giphy.gif" /> -->
</div>
